<div class="about_wholepage" style="display: flex;">
  <div class="about_photo">
    <img
      class="user_profile__photo"
      src="../img/boob_pic.jpg"
      style="margin:10px; margin-left:50px; margin-right:40px; border-radius:25px"
    />
  </div>
  <div style="margin:50px" class="about_info">
    <div class="about_name">
      <h1
        style="font-size: 40px; margin-bottom:30px;  font-family: Mansalva, 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;"
      >
        {{currentUserObj.name}}'s Boob Blog</h1>

    </div>
    <div class="blog_blogName"><h2
        style="font-size: 26px; margin-bottom:30px;  font-family: Allison, 
            sans-serif"
      >@{{currentUserObj.blog}}</h2>
    </div>
    <div class="about_created">
      <h2
        style="font-size:25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;"
      > Joined {{currentUserObj.createdAt}}</h2>
    </div>

  </div>
</div>

<div style="display: flex;">

  <div
    style="border-radius:10px; border: 1px solid #d9d9f7c0;; padding:20px; margin-left:50px"
    class="about_posts"
  >
    {{!-- {{user.name}} --}}
    {{#each postsObj}}
      <a href="/entry/{{this._id}}">
        <div
          class="profile_entry__each"
          style="margin: 30px; box-shadow: 1px 5px 5px #00000026;  border-radius: 5px; background-color: #ebebf7c0; padding:30px
         "
        >
          <h4 style="font-size:11px;  text-align:left;">
          </h4>
          <h1 style="font-size: 16px; padding-left:10px">{{this.entry}}
          </h1>
          <div class="entry_bottom_keys" style="display:flex">
            <h4
              style="font-size:16px;  text-align:right; color:rgb(186, 168, 186)"
            >{{this.daySince}}
              days ago</h4>
            <a
              class="buttons heart__button"
              href="/like/{{this._id}} "
              style="margin-left:auto"
            >
              <img
                class="heart_img"
                src="../img/heart_blueGreen.png"
                style="width:15px; height:15px"
              />
            </a>
            <p
              style="font-size:10px; color:rgb(97, 95, 102); padding:5px; margin:5px"
            >{{this.likesCount}}</p>
            <div style="margin-left:auto; dispay:flex">
              <a class="buttons comment__button" href="/entry/{{this._id}}">
                <img
                  class="comment_img"
                  src="../img/chat.png"
                  style="width:15px; height:15px"
                />
              </a>
              <p
                style="font-size:10px; color:rgb(97, 95, 102); padding:5px; margin:5px"
              >{{this.commentsCount}}</p>
            </div>
            <a
              class="buttons delete2__button"
              href="/deletePost/{{this._id}}"
              style="margin-left:auto"
            >
              <img
                class="delete_2"
                src="../img/delete2.png"
                style="width:15px; height:15px"
              />
            </a>
          </div>
        </div>
      </a>

    {{/each}}
  </div>
</div>